{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="row">
 <div class="col-sm-12 fs-1 py-3 text-center">
   <b>Fav_</b><i style="color:#3F729B; font-family:comic sans ms">Cart</i>
 </div>
</div>
<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-10 offer py-5 text-primary">
  <p>FavCART is the form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a going a web browser. Now a days the life style oh the people is different. Peoplefeel uncomfortable and time consuming for going crowded markets.So, E-Shopping is a boon as it saves lot of time. Online shopping is a process whereby consumer directly buys goods. services etc. from from seller without an intermediary service over the Internet. Shoppers can visit web stores from the comfort of their house and stores from the comfort of their house and shop as by sitting in front of the computer. Online stores are usually available 24 hours a day and many consumers have internet access both at work and at home, So it is very convenient for them to shop Online. One of the most enticing factors about online shopping, particular item. Variety of goods are available in online.So the researcher want to know  the preference of the consumers.  </p>
 </div>
 <div class="col-sm-1"></div>
</div>
{% endblock%}